<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      DETALHES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-label>
    <ion-card>
      <p>
        Título:
        {{movie.title}}
      </p>
    </ion-card>
    <ion-card>
      <p>
        Diretor:
        {{movie.director}}
      </p>
    </ion-card>
    <ion-card>
      <p>
        Produtor:
        {{movie.producer}}
      </p>
    </ion-card>
    <ion-card>
      <p>
        Data de lançamento:
        {{movie.release_date}}
      </p>
    </ion-card>
  </ion-label>
</ion-content>